:root{
    --main-bg-color: #343a40;

    --main-menu-color: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(20,20,20,0.989233193277311) 30%, rgba(20,20,20,0.8855917366946778) 56%, rgba(20,20,20,0.7455357142857143) 78%, rgba(20,20,20,0.5270483193277311) 90%, rgba(255,255,255,0) 100%);;

    --main-text-color: #dee2e6;
    --main-header-color: #19191a;
    --main-hover-color: #43484f;
    --main-nav-color: #fe7400;
}


body{
    margin: 0;
    background: var(--main-header-color);
    font-family: 'Poppins', sans-serif;
    color: var(--main-text-color);

}
a{
     text-decoration: none ! important;
     color: var(--main-text-color);
 }
/*----- DARK MODE DIV -------*/
.light-mode {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#outer-div{
    text-align: center;
    width: 40px;
    height: 12px;
    border: 1px solid var(--main-text-color);
        border-radius: 25px;
}
#inner-div{

    top: -0.5px;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-radius: 50px;
    position: relative;
    background-color: var(--main-text-color);

}




p{
    margin: 0;
}

h1{

    margin-top: 0;
    font-size: 25px;
    font-weight: 700;

}


h2{
    font-size: 17px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: var(--main-text-color);


}

.h2_index{
    margin-left: 2rem;
    margin-top: 1rem;
}

h3{
    font-size: 16px;
}

.logo, .logo a{
    display: flex;
}

.header-container{
    background: var(--main-menu-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 100;
    color:white;

}
.header-container .content-left{
    display: flex;
    justify-content: space-around;
    width: 30%;
}


.header-container .content-right{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    width: 70%;
    font-family: 'Poppins', sans-serif;

}
/*--- Dropdown menu ----*/
.fleche_menu{
    margin-left: 4px;
    position: relative;
    top:2px;
}
.drop_btn {
    color: white;
    font-size: 11px;
    border: 0px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

  }
  


.addpost,.edit_information,.login_drop{
    display: flex;
    padding: 1rem;
    justify-content: space-between;

}
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 2rem;
  }
  
  .dropdown-content {
      font-size: 12px;
    display: none;
    position: fixed;
    color: var(--main-text-color);
    background-color:rgb(7 7 7 / 32%);
    min-width: 100%;
    min-height: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    top: 70px;
    flex-direction: column;
  }

.dropdown-container-post {
width: 100%;
margin-left: 1rem;
font-size: 11px;
}

  

  .dropdown-comment,.dropdown-edit,.dropdown-secu {
    border-radius: 4px;
font-size: 12px;
  display: none;
  color: var(--main-bg-color);
  background-color:var(--main-text-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0;
  flex-direction: column;
  padding: 2rem 0 2rem 0;
}

.dropdown-postCom{
    display: none;
}


.dropdown-edit,.dropdown-secu {
    padding: 2rem;
    margin: 0 1rem 0 1rem;
}


.dropdown-edit input,.dropdown-secu input{
   width: 100%;
}

.light-mode:hover{
background: var(--main-hover-color);
}
.addpost:hover{
background: var(--main-hover-color);
 }

.edit_information:hover{
background: var(--main-hover-color);
}

.show {display: flex;}




#Login{
    margin-right: 2rem;

    cursor: pointer;
    height: 20px;
    line-height: 1px;
    

}

.login-button{
    border: 0;
    transition: color 1s;
    color: var(--main-nav-color);
    border-radius: 15px;
}

button.login-button:hover{
    color: var(--main-nav-color);
    background: rgba(255, 255, 255, 0);
}

#set_modal{
    margin-right: 4rem;
    cursor: pointer;
}

#User{
    margin-right: 3rem;
    margin-left: 1rem;
    height: 15px;
}

/*----- --------------- ajouter un article -------------------*/

#AddPost{
    height: 15px;
}


.AddArticle-content input{
    width: 100%;
    height: 25px;
}

.AddArticle-content select{
    width: 100%;
    height: 25px;
}
.input_addPost {
    margin-top: 1rem;
}


/*--------- RUBRIQUE DE NAVIGATION ------------------*/
section.left_fixed_navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 100vh;
    padding-top: 70px;
    position: fixed;
    background: #7f88a0;
    transition: all 1s;
    align-items: center;
    bottom: 0;
}

section.left_fixed_navigation:hover{
    width: 6%;
  
    
}

section.left_fixed_navigation:hover .img-rubrique{
    height: 15px;
    opacity: 1;
    visibility: visible;
    margin-top: 0%;
}

section.left_fixed_navigation .img-rubrique{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;
    height: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: -150%;
    cursor: pointer;
}

section.left_fixed_navigation:hover .img-fleche{
    margin-bottom: 100%;
}

.img-fleche {
    width: 29px;
    position: fixed;
    bottom: 150px;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0%;
    transition: all 0.8s ease-out;

}
.img-rubrique{
width: 15px;
}
.img-rubrique#User{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.img-rubrique#User:hover{
    opacity: 0.3;
    visibility: visible;
}
section.left_fixed_navigation:hover .rubrique-title{

    margin-bottom: 100%;

}


.rubrique-title{
    transition: all 0.4s ease-out;
    visibility: visible;
    transform: rotate(270deg);
    color: var(--main-nav-color);
    position: fixed;
    margin-bottom: 0%;
    bottom: 60px;
}





.tooltip {
   padding: 1rem;
    position: relative;
    display: inline-block;
    font-size: 12px;
  }


  
.tooltip:hover {
    background: var(--main-hover-color);

  }

  
/*----------------- Modale de connexion ---------------------------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0 0 0 / 68%);
  }
.show-modal{
    display: block; 
}
.show-AddPost{
    display: block; 

}
  .container-login{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
.input_edit label{
font-size: 10px;
text-align: left;
}

.input_edit{
    width: 100%;
     }

.input_edit p{
   
   text-align: center;

    }
.create_account{
    margin-top: 2rem;
}

.input-loggin{
    margin: 1rem 0 1rem 0;
    text-align: left;
}

  .input_inscription input{
      width: 180px;
      height: 20px;
      border-radius: 5px;
      background: #1a1c22c4;
      color: white;
    font-size: 15px;

  }
  .input_edit input{
    width: 100%;
    height: 30px;
    background: #ffffff;
    color: black;
  font-size: 15px;
  border: 0;

}

.memoriser_conn{
    display: flex;
}

.memoriser_conn input{
width: auto;
height: auto;
margin-bottom: 1rem;
}

button#new_member{
    margin-top: 1rem;
    width: 100%;
    height: 30px;
    background: var(--main-nav-color);
    border: 0px;
    color: black;
    font-size: 15px;

}

button#connexion{
    margin-top: 1rem;
    width: 100%;
    height: 30px;
    border: 0px;
    color: black;
    font-size: 15px;

}

  /* Modal Content */
  .modal-content, .AddArticle-content {
    background-color: #272c38;
    margin: auto;
    padding: 2rem;
        width: 30%;
    color: white;
    border-radius: 3px;

  }
  
  /* The Close Button */
  .close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 30px;
    position: relative;
    border-radius: 0 0 0px 12px;
    top: -15px;
  }
  .close_bloc{
      width: 100%;

  }
  .close:hover,
  .close:focus {
    color: #b45931;
    text-decoration: none;
    cursor: pointer;
  }



  #update_database{

background: rgb(0, 208, 0);
padding: 0.25rem;
border-radius: 5px;
border: 0px;
font-size: 17px;
color: white;
margin-top: 1rem;
cursor: pointer;
float: right;
margin-bottom: 1rem;
bottom: 10px;
position: relative;

  }

  #update_database:hover{
    background:rgb(3, 230, 3);
  }  

  .set_modal{
    position: relative;
    left: -30px;
  }




/*----------------------------------- welcoming ---------------------------------- */
.welcoming_para{
    position: relative;
    bottom: -110px;
}

  section.container-welcoming {
    padding: 5rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var( --main-text-color);
    background-image: url('img/index.jpeg');
    background-size: cover;
    height: 400px;
    font-size: 15px;
}

.bloc_color_h2 {
    width: 12px;
    border-radius: 10px;
    height: 12px;
    display: inline-block;
    background: linear-gradient(22deg, rgba(255,255,255,1) 0%, rgba(33,37,41,1) 49%, rgba(254,116,0,1) 100%);

}




/*----------------------------------- CARTE ARTICLE ---------------------------------- */
.comment-post{
    margin-left: 1rem;
}

.carte_article{
width: 300px;
height: 150px;
border-radius: 5px;
background-color: var(--main-bg-color);
margin: 0 1rem;
padding: 1rem;
cursor: pointer;
}

.Article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
    background: var(--main-header-color
    );
}

.data_article{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.carte_article:hover .data_article{
    opacity: 1;
    visibility: visible;
}

.carte_article img{
    height: 15px;

}
.meta_logo{
    display: flex;
    justify-content: flex-end;
}
.meta_logo p{
    font-size:9px;
}
.meta_logo div{
    padding:1rem;
}







/*----------------------------------- POST VIEW ---------------------------------- */
section.container-post {
    background: var(--main-bg-color);
}



p.description_article{
margin-top: 1.5rem;

}

.post_view{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.meta_post{
    width: 100%;
}

.separator-metapost {
    width: 100%;
    height: 1px;
    border-radius: 5px;
    margin: 1rem 0 1rem 0;
    background: #aeaeae69;
}

.separator-card-post{

    height: 1px;
    border-radius: 5px;
    margin: 0.25rem 1rem 0.5rem 1rem;
    background: #aeaeae69;

}

.data_post {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

form.new_comment {
    text-align: left;
    margin: 0 2rem 1rem 2rem;

}
.separator-comment{
    width: 100%;
    height: 2px;
    border-radius: 0px;
    margin-top: 1rem;
    background: var(--main-bg-color);
}
.comment_post {
    width: 100%;
    text-align: center;
}

p.comment_user {
    text-align: left;
    padding: 1rem;
    margin: 0 2rem 1rem 2rem;
    border-radius: 2px;
    padding: 0.5rem;
}


.auteur_comment a{
   text-align: left;
    color: var(--main-nav-color);
    padding-left: 2rem;
    font-size: 15px;

}

#AddComment{
    border: 0;
    width: 100%;
    border-radius: 5px;
    height: 35px;

}

button#new_comment{
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
    height: 30px;
    color:var(--main-text-color);
    background: var(--main-header-color);
    border: 0px;
    border-radius: 15px;
   font-size: 15px;
    cursor: pointer;

}



button#new_comment:hover{
 
    color:var(--main-header-color);
    background: var(--main-text-color);
    border: 1px solid var(--main-header-color) ;

}

/*----------------------------------- Profil VIEW ---------------------------------- */

.avatar_profil{
    height: 140px;
    width: 140px;
    border: 3px solid var(--main-hover-color);
    border-radius: 85px;
    margin-right: 1rem;
    background-size: contain;
    z-index: 10;
 
}

.avatar-bloc{
    position: absolute;
    top: 260px;
    left: 50px;
}

section.container-profil-view {
    background: var(--main-hover-color);
    padding-top: 78px;
    
}


.profil-desc{
    padding:  2rem 0 2rem 5rem;
    width: 30%;
}

.bloc-left-profil{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.name-date{
    width: 100%;
}

.inf-user{
    margin-left: 205px;
}

.email-profil{
    font-size: 15px;
}

.name-profil{
font-size: 20px;
}

.pseudo-profil{
    color: #7c888f;
}

.edit-profil{
margin-top: 1rem;
    background:#fe7400; 
    border:0; 
    padding: 0.5rem; 
    border-radius: 5px;
    cursor: pointer;
}

.edit-profil:hover{
    opacity: 0.8;
}

.cover_profil{
    width: 100%;
    height: 250px;
    background-image: url(img/cover.png);
}


.galerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 

}

.galerie-profil h1{
    margin-left: 7rem;
}
/*----------------------------------- NEW MDP VIEW ---------------------------------- */

.container_NewMdp{
    padding-top: 130px;

}

.form_NewMdp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte_NewMdp {
    padding: 2rem;
    width: 40%;
    font-size: 15px;
}
/*----------------------------------- ENREGISTRER UN UTILISATEUR ---------------------------------- */
.container_adduser{
    width: 350px;
    padding: 2rem;
    background: #272c38;
    height: 450px;


}

.description_adduser{
    width: 414px;
    background-image:url('img/pandart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 514px;

}
.description_adduser h1{
    text-align: center;
    margin: 0;
    padding: 2rem;
}



.background_adduser_description{
    width: 100%;
    height: 100%;
    background:#282d3969 ;

}
.container_adduser input{
    width: 100%;
    height: 25px;
}
.add{
    margin-top: 1rem;

}
.new_user{
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    
    
}
.new_user label {
    color: white; 

}

.submit_user{
    padding-top: 1rem;
}
 

.validate_condition{
    display: flex;
    margin-top: 1rem;
}

.validate_condition p{
    margin-left: 1rem;
}

.validate_condition input{
    width: auto;
height: 15px;}




  @media (max-width: 1245px) {
    .input_edit_inf{
        display: block;
    }
    .input_edit_inf input{
        width: 100%;
    }
    .modal-content {
    
        width: 75%;
    }
  }
  

  @media (max-width: 1024px) {
    .bloc_cpt {
      
        width: 60%;
    }
  }


  @media (max-width: 768px) {
   
    .bloc_add_supp {
  
      display: block;
  }
  .container_add input{
      width: 100%;
  }
  .bloc_cpt {
      
    width: 80%;
}
    }

    @media (max-width: 480px) {
     #left_fixed_navigation{
         display: none;
     }
     .meta_post,.comment_post{
        width: 100%;
    }
    .dropdown-container-post {
        width: 100%;
    }
      }